/* 
Only needed if you wish to Override Bootstrap classes
*/
.product {
  margin: 1rem;
  padding: 1rem;
  background-color: #230052;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.product h2 {
  font-size: 2rem;
  color: #f7e702;
}

.product h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}

.thumb_xs {
  max-height: 50px;
  max-width: 50px;
}
